* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

section {
  background-color: black;
}

.clear-fix {
  overflow: auto;
  zoom: 1;
}

.box {
  width: 25%;
  height: 300px;
  background-color: red;
  border: 1px solid black;
  float: left;
}

.box-red {
  background-color: red;
}

.box-orange {
  background-color: orange;
}

.box-blue {
  background-color: blue;
}

.box-yellow {
  background-color: yellow;
}

.clear-content {
  clear: both;
}

img {
  float: left;
  width: 300px;
}

p {
  color: white;
}

#boxed-bruiser {
  width: 100%;
}
